.fooldal{
   
    background-image: url('../assets/hand-drawn-business-seamless-pattern-260nw-1058091317.webp');
    padding: 50px;
    
}

.fooldal h1{
    border-radius: 20px;
    border: 3px solid black;
    text-align: center;
    background-color: lightgrey;
    width: 60%;
    margin:0 auto;
}

.profil{
   
    background-image: url('../assets/triangle-geometric-black-3d-background-dark-mosaic-geometry-pattern-polygon-shape-pattern-backdrop-triangula.jpg');
    background-repeat: no-repeat;
    padding: 50px;
    
}

.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.profil h1{
    border-radius: 20px;
    border: 3px solid white;
    text-align: center;
    color: white;
    width: 60%;
    margin:0 auto;
}


.container {
    width: 80%;
    max-width: 800px;
  }
  
  .search-filter-row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  .input-field {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .search-button,
  .filter-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .filter-button {
    margin-right: 0;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .navbar-nav .nav-item {
    margin: 0 15px; /* Adjust spacing between nav items as needed */
  }